[Unit]
Description=Button 2 Fix for ELAN Digitizer
Requires=systemd-udevd.service
After=systemd-udevd.service

[Service]
ExecStart=/bin/sh -c "/usr/bin/sleep 2 && /usr/bin/env RUST_BACKTRACE=full /usr/local/bin/hp-x360-elan-fix"

[Install]
WantedBy=multi-user.target
